<!doctype html>
<html>
<head>
  <title>Game of Simon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Simon game!">
  <meta name="keywords" content="game, simon,1980">
  <script src="public/scripts/main.js?v=02"></script>
  <link rel="stylesheet" href="public/styles/main.css?v=02" type="text/css" />
  <link rel="icon" type="image/png" href="./favicon.png?v=01" sizes="128x128">
</head>
%body
  %div.container
    %h1.brand Simon Game
    %div.game.off
      %button.keypad#a
      %button.keypad#b
      %button.keypad#c
      %button.keypad#d
      %div.dashboard
        %button#start Start
        %h2#counter 00
        %div.strict
          %span Strict
          %div.toggle.off
            %span.on ON
            %span.off OFF
        %button.info Help
      %div.info_panel
        %p.message The game will play a sequence of button clicks, incrementing a step further each time. You just have to play it back correctly. Strict mode ends the game if you input one incorrect sequence. Normally, the computer allows you to retry the failed sequence.
        %p.keybindings If you don't want to reach for your mouse/touch, you can also use A, B, C or D.
</html>
