<!doctype html>
<html>
<head>
  <title>Game of Simon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Simon game!">
  <meta name="keywords" content="game, simon,1980">
  <script src="public/scripts/Controller.js?v=00"></script>
  <script src="public/scripts/GameView.js?v=00"></script>
  <script src="public/scripts/Simon.js?v=00"></script>
  <script src="public/scripts/mvc.js?v=00"></script>

  <link rel="stylesheet" href="public/styles/main.css?v=02" type="text/css" />
  <link rel="icon" type="image/png" href="./favicon.png?v=01" sizes="128x128">
</head>
%body
  %div.container
    %h1.brand Simon Game
    %div.game.off
      %div.fins
        %button.keypad#a
        %button.keypad#b
        %button.keypad#c
        %button.keypad#d
      %div#counter
        %h2 Well, let's tap some time away!
    %div.dashboard
      %button#start Start
      %div.strict
        %span Strict
        %div.toggle.off
          %span.on ON
          %span.off OFF
      %button.help Help
    %div.info_panel.is-hidden
      %button.close X
      %p.message The game bot will highlight a sequence of blocks, incrementing a step further each time. You just have to play it back correctly. Get 20 sequence correct to win the game. Strict mode ends the game if you input one incorrect sequence. But otherwise, the bot allows you to retry the failed sequence as many times as you want. Go kill some time!
      %p.keybindings Keybindings:
      %ul
        %li
          %pre A to D --> game blocks
        %li
          %pre ? or / --> Help
        %li
          %pre x      --> close Help panel
        %li
          %pre s      --> toggle strict mode
        %li
          %pre Space  --> start / reset
</html>
