/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
/*
$color-material-red-500        : #F44336;
$color-material-pink-500       : #E91E63;
$color-material-purple-500     : #9C27B0;
$color-material-deep-purple-500: #673AB7;
$color-material-indigo-500     : #3F51B5;
$color-material-blue-500       : #2196F3;
$color-material-light-blue-500 : #03A9F4;
$color-material-cyan-500       : #00BCD4;
$color-material-teal-500       : #009688;
$color-material-green-500      : #4CAF50;
$color-material-light-green-500: #8BC34A;
$color-material-lime-500       : #CDDC39;
$color-material-yellow-500     : #FFEB3B;
$color-material-amber-500      : #FFC107;
$color-material-orange-500     : #FF9800;
$color-material-deep-orange-500: #FF5722;
$color-material-brown-500      : #795548;
$color-material-grey-500       : #9E9E9E;
$color-material-blue-grey-500  : #607D8B;

$color-material-red-300        : #E57373;
$color-material-pink-300       : #F06292;
$color-material-purple-300     : #BA68C8;
$color-material-deep-purple-300: #9575CD;
$color-material-indigo-300     : #7986CB;
$color-material-blue-300       : #64B5F6;
$color-material-light-blue-300 : #4FC3F7;
$color-material-cyan-300       : #4DD0E1;
$color-material-teal-300       : #4DB6AC;
$color-material-green-300      : #81C784;
$color-material-light-green-300: #AED581;
$color-material-lime-300       : #DCE775;
$color-material-yellow-300     : #FFF176;
$color-material-amber-300      : #FFD54F;
$color-material-orange-300     : #FFB74D;
$color-material-deep-orange-300: #FF8A65;
$color-material-brown-300      : #A1887F;
$color-material-grey-300       : #E0E0E0;
$color-material-blue-grey-300  : #90A4AE;
*/
html {
  height: 100%; }

body {
  min-height: 100%;
  margin: 0;
  background: #263238;
  color: #44c8e5;
  font-size: 16px; }
  @media (min-width: 321px) {
    body {
      padding-top: 1em; } }

h1,
h2,
h3,
h4 {
  margin-bottom: 5px; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  padding: 10px;
  box-sizing: border-box; }
  @media (min-width: 321px) {
    .container {
      border-radius: 10px; } }

/**
  * what: top brand
  * why: prominant display for the user
  */
.brand {
  font-size: 3em;
  margin-top: 0;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.7), 0 -2px rgba(0, 0, 0, 0.7); }

/**
  * what: the game board, it's shutter block that asks for user inputs
  * why: show / hide based on status of the game
  */
.game {
  margin: 0 auto;
  position: relative; }

.fins {
  margin: 0 auto; }
  .fins.rotate {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.74, 0.1, 0.21, 0.97);
    transition: -webkit-transform 1s cubic-bezier(0.74, 0.1, 0.21, 0.97);
    transition: transform 1s cubic-bezier(0.74, 0.1, 0.21, 0.97);
    transition: transform 1s cubic-bezier(0.74, 0.1, 0.21, 0.97), -webkit-transform 1s cubic-bezier(0.74, 0.1, 0.21, 0.97); }

/**
  * what: game buttons / blocks and their relative styles when won/lost/tie
  * why: clear indication to the user asking for inputs and feedback on game (won/lost/tie)
  */
button.keypad {
  display: inline-block;
  background: #323435;
  padding: 0;
  border: 0;
  width: 130px;
  border-radius: 3px;
  height: 130px;
  margin: 10px;
  outline: none;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.7);
  box-sizing: border-box; }
  button.keypad#a {
    background: #303F9F; }
    button.keypad#a:active, button.keypad#a.js-active {
      -webkit-transition: background 150ms ease;
      transition: background 150ms ease;
      background: #9FA8DA; }
  button.keypad#b {
    background: #C2185B; }
    button.keypad#b:active, button.keypad#b.js-active {
      -webkit-transition: background 150ms ease;
      transition: background 150ms ease;
      background: #F48FB1; }
  button.keypad#c {
    background: #0097A7; }
    button.keypad#c:active, button.keypad#c.js-active {
      -webkit-transition: background 150ms ease;
      transition: background 150ms ease;
      background: #80DEEA; }
  button.keypad#d {
    background: #E64A19; }
    button.keypad#d:active, button.keypad#d.js-active {
      -webkit-transition: background 150ms ease;
      transition: background 150ms ease;
      background: #FFAB91; }

.dashboard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px; }
  .dashboard button {
    font-size: 1em;
    border: 0;
    border-radius: 3px;
    background: #323435;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 80px; }

#counter {
  position: absolute;
  background: #cde;
  background-image: -webkit-linear-gradient(bottom, #cde, #fff);
  background-image: linear-gradient(to top, #cde, #fff);
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: .7em;
  font-size: 1em;
  padding: 10px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #counter h2 {
    margin: 0;
    display: inline-block;
    line-height: .8em;
    text-align: center;
    color: #607D8B; }
  #counter.won {
    background-color: #4CAF50;
    background-image: -webkit-linear-gradient(bottom, #3d8b40 70%, #6ec071);
    background-image: linear-gradient(to top, #3d8b40 70%, #6ec071); }
    #counter.won h2 {
      color: rgba(255, 255, 255, 0.7); }
  #counter.error {
    background-color: #F44336;
    background-image: -webkit-linear-gradient(bottom, #ea1c0d 70%, #f77066);
    background-image: linear-gradient(to top, #ea1c0d 70%, #f77066); }
    #counter.error h2 {
      color: rgba(255, 255, 255, 0.7); }

.strict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .strict > span {
    margin-right: auto; }
  .strict .toggle {
    font-size: .7em;
    display: inline-block; }
    .strict .toggle span {
      padding: 5px 3px;
      display: inline-block;
      -webkit-transition: color 300ms ease, background 300ms ease;
      transition: color 300ms ease, background 300ms ease;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.7);
      width: 2em; }
      .strict .toggle span:nth-of-type(odd) {
        border-radius: 3px 0 0 3px; }
      .strict .toggle span:nth-of-type(even) {
        border-radius: 0 3px 3px 0; }
    .strict .toggle.on .on {
      background: rgba(255, 255, 255, 0.7);
      color: #323435;
      -webkit-transition: color 300ms ease, background 300ms ease;
      transition: color 300ms ease, background 300ms ease; }
    .strict .toggle.on .off {
      color: #323435;
      background: #323435;
      -webkit-transition: color 300ms ease, background 300ms ease;
      transition: color 300ms ease, background 300ms ease; }
    .strict .toggle.off .on {
      background: #323435;
      color: #323435;
      -webkit-transition: color 300ms ease, background 300ms ease;
      transition: color 300ms ease, background 300ms ease; }
    .strict .toggle.off .off {
      -webkit-transition: color 300ms ease, background 300ms ease;
      transition: color 300ms ease, background 300ms ease; }

.info_panel {
  padding: 1em;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  background: #263238;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  margin: 5px; }
  .info_panel.is-displayed {
    display: block; }
  .info_panel.is-hidden {
    display: none; }
  .info_panel .close {
    float: right;
    color: rgba(255, 255, 255, 0.7);
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 1.8em;
    margin-top: -15px;
    margin-right: -15px; }
  .info_panel .message {
    margin: 0;
    margin-top: 5px;
    font-size: 1.3em; }
  .info_panel ul {
    padding: 0;
    list-style: none;
    font-size: .9em; }
    .info_panel ul pre {
      margin: 0;
      margin-bottom: 5px; }
